:root{
    --primary:skyblue;
    --error:red;
    --warning:yellow;
    --success:green;
    --secondary:white;
    --online-badge:green;
    --offline-badge:grey;
    font-size: 10px;

}
body{
    font-size: 10px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.code-img{
    width:50rem;
}
.main-container{
    display: flex;
}

.alert{
    height:5rem;
    width:50rem;
}
.primary{
    background-color: var(--primary);
}
.error{
    background-color: var(--error);
}
.warning{
    background-color: var(--warning);
}
.success{
    background-color: var(--success);
}
.avatar{

    height:10rem;
    width:50rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
}
.rounded-avatar {
    border-radius: 50%;
    width: 100%;
   
}
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.avatar-lg{
    width:8rem;
    height:7rem;
}

.avatar-md{
    width: 6rem;
    height: 5rem;
}

  .avatar-sm{
    width:4rem;
    height:3rem;
}

.center{
    text-align: center;
}
.Badges{
    text-align: center;
    width:50rem;
   }
   .component-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13rem;
    background-color: antiquewhite;
     }

     .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      
   .avatar-w-badge{
    position: relative;
    
  }
  
  .round-avatar-badge{  
    border-radius: 50%;
    width: 100%;
    height: inherit;
    object-fit: cover; 
    width: 14rem; 
  }
  .badge-online{
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding:7px;
    background-color: var(--online-badge);
    top:.5rem;
    left: 10.25rem;
  }
  
  .badge-offline{
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding:7px;
    background-color:var(--offline-badge);
    top: .5rem;
    left: 10.5rem;
  }
  .icon-badge{
    height:14rem;
  }
  .icon-w-badge{
    position: relative;
   
  }
  .badge-on-icon{
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -1px;
    background-color: rgb(0, 195, 255);
  }
  #buttons{
    margin:0 auto;    
    max-width:60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
a,button{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.components{
    display: flex;
    gap: 1rem;
}

.btn{
    border: none;
    padding: 0.75rem 1rem;
    border-radius:5px;
    text-decoration: none;
    color: white;
    max-width: 10rem;
   
}


.primary-solid{
    background-color:blue;
    
}

.secondary-solid{
    background-color: skyblue;
    
}

.danger-solid{
    background-color: red;
}
.safe-solid{
    background-color: green;
    
}


.primary-outline{
    border:2px solid#49a0eb ;
    color: #49a0eb;
    
}

.secondary-outline{
    border:2px solid  rgb(58, 201, 201);
    color:rgb(58, 201, 201);
   
}

.danger-outline{
    border:2px solid red;
    color: red;
    
}
.safe-outline{
    border:2px solid green;
    color:green;
    
}


.btn-with-icon{
    display: flex;   
    border-radius: 4px;
    padding: 0.1rem 0.5rem;
    align-items:center;
    background-color:var(--primary);
    color: white;  
    max-width:8rem;
    justify-content: center;
         
}
.floating-btn{
    height: 5rem;
    width:5rem;
}
/*image comp css*/
.image-container {
    margin: 0 auto;;
    width:40rem;
    background-color: whitesmoke;
    padding: 1rem;
}
  
.responsive-img {
    margin: 2rem;
    display: flex;
    width: 30rem;
    height: 30rem;
    max-inline-size: 100%;
    block-size: auto;
}
  
.rounded-img {
    margin: 2rem;
    border-radius: 50%;
    width: 30rem;
    height: inherit;
    object-fit: cover;
}
/*toast css*/
toast-heading{
    text-align: center;
}

.toast{
    height:inherit;
}



.main-content{
    padding: 1rem;
    font-size: 13px;
    width:250px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
}

/*rating css*/

.main-rating{
    text-align: center;
    font-size: large;
}
.rating-component-area{
    width: 50rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 2rem;
    background-color: beige;
    gap: 1rem;
}
}


