<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>Vintage UI</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts</a>
          </li>
          <li>
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button.html">Buttons</a>
          </li>
          <li>
            <a href="/components/card.html">Cards</a>
          </li>
          <li>
            <a href="/components/image.html">Images</a>
          </li>
          <li>
            <a href="/components/input.html">Input</a>
          </li>
          <li>
            <a href="/components/list.html">Lists</a>
          </li>
          <li>
            <a href="/components/nav.html">Navigation</a>
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities</a>
          </li>
        </ul>
      </section>
      <section>
        <h2> Alert</h2>
        <div class="alert primary">
          <strong>Primary!</strong> This is a Primary Alert
      </div>

      <div class="alert error">
          <strong>Error!</strong> This is an Error Alert
      </div>

      <div class="alert success">
          <strong>Success!</strong> This is a Success Alert
      </div>

      <div class="alert warning">
          <strong>Warning!</strong> This is a Warning Alert   
          
      </div>
      <div> <img class='code-img' src="../assets/alert.png"/></div>

          
      </section>
     
       
      
    </main>
  </body>
</html>