<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>Vintage UI</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts</a>
          </li>
          <li>
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button.html">Buttons</a>
          </li>
          <li>
            <a href="/components/card.html">Cards</a>
          </li>
          <li>
            <a href="/components/image.html">Images</a>
          </li>
          <li>
            <a href="/components/input.html">Input</a>
          </li>
          <li>
            <a href="/components/list.html">Lists</a>
          </li>
          <li>
            <a href="/components/nav.html">Navigation</a>
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities</a>
          </li>
        </ul>
      </section>
      <section>
        <div id="buttons">

            <div class="component intro">
                <h1 class="text-center">Buttons</h1>
                <p>Buttons allow users to take actions. and make choices with a single tap.</p>
    
            </div>
            
           
            <h3>Solid buttons</h3>
            <div class="components">
                <button class="btn primary-solid">Primary</button>
                <button class="btn secondary-solid">Secondary</button>                <button class="btn danger-solid">Danger</button>
                <button class="btn safe-solid">Safe</button>
                    
    
            </div>
    
            <h3>Outline buttons</h3>
            <div class="components">  
                <button class="btn primary-outline">Primary</button>   
                <button class="btn secondary-outline">Secondary</button>
                <button class="btn danger-outline">danger</button>
                <button class="btn safe-outline">safe</button>       
                
    
            </div>   
    
            <h3>Icon buttons</h3>
            <div class="components">            
                <div class="btn-with-icon">
                   
                </div> 
    
                <div class="btn-with-icon">
                    
                </div>
    
                <div class="btn-with-icon">
                   
    
                </div>   
            </div>
    
            <h3>Floating action buttons</h3>
            <div class="components">
                <div>
                    <button class="btn floating-btn "><img src="https://icons-for-free.com/iconfiles/png/512/add+photo+instagram+upload+icon-1320184027593509107.png"height ="50rem" width="50rem"  ></button>
                    
                </div>
    
                <div>
                    <button class="btn floating-btn "><img src="https://icons-for-free.com/iconfiles/png/512/delete+24px-131985190578721347.png"height ="50rem" width="50rem"></button>
                </div>
                
            </div>
        
        </div>
      </section>
    </main>
  </body>
</html>