<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="..//main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>Card component</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts
          </li>
          <li>
            <a href="/components/avatar.html">Avatar
          </li>
          <li>
            <a href="/components/badge.html">Badge
          </li>
          <li>
            <a href="/components/button.html">Buttons
          </li>
          <li>
            <a href="/components/card.html">Cards
          </li>
          <li>
            <a href="/components/image.html">Images
          </li>
          <li>
            <a href="/components/input.html">Input
          </li>
          <li>
            <a href="/components/snackbars.html">toast
          </li>
          <li>
            <a href="/components/rating.html">Ratings
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities
          </li>
        </ul>
      </section>
      <section>
        <div class="cards">
            <h3>basic Card</h3>
            <div class="card">
                <div class="body">
                    <div>
                        <img class="img-size" src="..//images/iphone.jpg" alt="iphone">
                    </div>
    
                    <div class="body-content div-padding">
                        <h3 class="title">Apple iPhone 13 (128GB) - Midnight</h3>
                    </div>
    
                    <div class="body-content div-padding">
                        
                        <p class="content">15 cm (6.1-inch) Super Retina XDR display, 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording,A15 Bionic chip for lightning-fast performance</p>
                    </div>    
                </div>
    
                <div class="flex-row div-padding">
                    <div class="flex-card"> 
                        <div class="flex-card">
                            <span class="bold-large">₹74,900</span>  
                            <span class="text-strike-through">₹79,900.00</span>
                            <span class="text-lightblue">You Save:	₹5,000.00</span>
                          </div>
                        </div>
                </div>
    
                <div class="footer div-padding">
                    <div class="footer-icon">          
                      
                        <button class="btn primary-btn">Buy</button>
                        <button class="btn secondary-btn">Add To Cart</button>
                        
                    </div>
    
                    
                </div>
            </div>
            <div> <img class='code-img' src="../assets/simple card.png"/></div>
        
            <h3>card with text overlay</h3>        
            <div class="card">
                <div class="body">
                    <div class="child hero">
                        <img class="img-size" src="..//images/iphone.jpg" alt="iphone">
                    </div>
    
                    <div class="body-content div-padding">
                        <h3 class="title">Apple iPhone 13 (128GB) - Midnight</h3>
                    </div>
    
                    <div class="body-content div-padding">
                        
                        <p class="content">15 cm (6.1-inch) Super Retina XDR display, 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording,A15 Bionic chip for lightning-fast performance</p>
                    </div>     
                </div>
                <div class="footer div-padding">
                    <div class="footer-icon">          
                      
                        <button class="btn primary-btn">Buy</button>
                        <button class="btn secondary-btn">Add To Cart</button>
                        
                    </div>
                </div>
            </div>
            <div> <img class='code-img' src="../assets/card with text.png"/></div>
        
            <h3>text only card</h3>
            <div class="card">
                <div class="body">
                    <div class="body-content div-padding">
                        <h3 class="title">Apple iPhone 13 (128GB) - Midnight</h3>
                    </div>
    
                    <div class="body-content div-padding">
                        
                        <p class="content">15 cm (6.1-inch) Super Retina XDR display, 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording,A15 Bionic chip for lightning-fast performance</p>
                    </div>    
                </div>
    
                <div class="flex-row div-padding">
                    <div class="flex-card"> 
                        <div class="flex-card">
                            <span class="bold-large">₹74,900</span>  
                            <span class="text-strike-through">₹79,900.00</span>
                            <span class="text-lightblue">You Save:	₹5,000.00</span>
    
                        </div>
                       </div>
                </div>
                <div class="footer div-padding">
                    <div class="footer-icon">          
                      
                        <button class="btn primary-btn">Buy</button>
                        <button class="btn secondary-btn">Add To Cart</button>
                        
                    </div>
                   </div>
              </div>
              <div> <img class='code-img' src="../assets/text only cards.png"/></div>
    
              <h3>Horizontal card</h3>
              <div class="card">
              <div class="horizontal">
                  <div class="item header-image">
                      <img class="card-image"  src="..//images/iphone.jpg" height ="200rem" width="200rem"alt="iphone">
                  </div>
      
                  <div class="item body-content div-padding">
                      <h3 class="title">Apple iPhone 13 (128GB) - Midnight</h3>
                  </div>
      
                  <div class="item body-content div-padding">
                      
                      <p class="content">15 cm (6.1-inch) Super Retina XDR display, 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording,A15 Bionic chip for lightning-fast performance</p>
                  </div>    
              </div>
      
              <div class="flex-row div-padding">
                  <div class="flex-card"> 
                      <div class="flex-card">
                          <span class="bold-large">₹74,900</span>  
                          <span class="text-strike-through">₹79,900.00</span>
                          <span class="text-lightblue">You Save:	₹5,000.00</span>
      
                      </div>
                      </div>
              </div>
              <div class="footer div-padding">
                  <div class="footer-icon">          
                    
                      <button class="btn primary-btn">Buy</button>
                      <button class="btn secondary-btn">Add To Cart</button>
                  </div>
                 </div>
              </div>
              <div> <img class='code-img' src="../assets/horizontal cards.png"/></div>
            
            <h3>card with Badge</h3>        
            <div class="card card-w-badge">
                <div class="body">
                    <div class="child hero">
                        <img class="img-size" src="../images/iphone.jpg" alt="iphone">
                    </div>
    
                    <div class="body-content div-padding">
                        <h3 class="title">Apple iPhone 13 (128GB) - Midnight</h3>
                        
                    </div>
    
                    <div class="body-content div-padding">
                        
                        <p class="content">15 cm (6.1-inch) Super Retina XDR display, 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording,A15 Bionic chip for lightning-fast performance</p>
                    </div>   
                </div>
    
                <div class="card-badge">New</div>
                <div class="flex-row div-padding">
                    <div class="flex-card"> 
                        <div class="flex-card">
                            <span class="bold-large">₹74,900</span>  
                            <span class="text-strike-through">₹79,900.00</span>
                            <span class="text-lightblue">You Save:	₹5,000.00</span>
                          </div>
                </div>
                </div>
                <div class="footer div-padding">
                    <div class="footer-icon">          
                      
                        <button class="btn primary-btn">Buy</button>
                        <button class="btn secondary-btn">Add To Cart</button>
                         </div>
            </div>
            </div>
            <div> <img class='code-img' src="../assets/card with badge.png"/></div>
    
            <h3>card with dismiss</h3>
            <div class="card card-w-dismiss">
                <div class="body">
                    <div>
                        <img class="img-size" src="../images/iphone.jpg" alt="iphone">
                    </div>
    
                    <div class="body-content div-padding">
                        <h3 class="title">Apple iPhone 13 (128GB) - Midnight</h3>
                        
                    </div>
    
                    <div class="body-content div-padding">
                        
                        <p class="content">15 cm (6.1-inch) Super Retina XDR display, 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording,A15 Bionic chip for lightning-fast performance</p>
                    </div>    
                </div>
    
                <div class="card-dismiss">share</div>
                    <div class="flex-row div-padding">
                        <div class="flex-card"> 
                            <div class="flex-card">
                                <span class="bold-large">₹74,900</span>  
                                <span class="text-strike-through">₹79,900.00</span>
                                <span class="text-lightblue">You Save:	₹5,000.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer div-padding">
                        <div class="footer-icon">          
                          
                            <button class="btn primary-btn">Buy</button>
                            <button class="btn secondary-btn">Add To Cart</button>
                        </div>  
                    </div>
            </div>     
        </div>    
        <div> <img class='code-img' src="../assets/card with dismiss.png"/></div>
     </section>
    </main>
  </body>
</html>