<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>Input component</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts</a>
          </li>
          <li>
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button.html">Buttons</a>
          </li>
          <li>
            <a href="/components/card.html">Cards</a>
          </li>
          <li>
            <a href="/components/image.html">Images</a>
          </li>
          <li>
            <a href="/components/input.html">Input</a>
          </li>
          <li>
            <a href="/components/snackbars.html">toast</a>
          </li>
          <li>
            <a href="/components/rating.html">Ratings</a>
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities</a>
          </li>
        </ul>
      </section>
      <section>
        <div class="main-components">
            <div>
              <h1>Inputs</h1>
              <p>Inputs are necessary for user interaction with the website. Inputs are used to take information from the user</p>
            </div>
            <div class="input-component-area">
                  <div class="flex-col">
                      <label for="email">Email</label>
                      <input
                      class="input-height"
                        type="email"
                        placeholder="abc@gmail.com"
                        required
                      />
                  </div>
                
                  <div class="flex-col">
                      <label for="name">Name</label>
                      <input
                      class="input-height"
                        type="text"
                        placeholder="Enter your name"
                        required
                      />
                  </div>
                
                  <div class="flex-col">
                      <label for="password">Password</label>
                      <input
                      class="input-height"
                      type="password"
                        placeholder="Enter your password"
                        required
                      />
                  </div>
                
                  <div class="flex-col">
                      <label for="confirm-password"
                        >Confirm Password</label>
                      <input
                      class="input-height"
                        type="password"
                        placeholder="Re-enter password"
                        required
                      />
                      <span class="error">Passwords not matched. Try Again</span>
                  </div>
          
                  <button class="submit-btn">submit</button>
          </div>
       </div>
       <div> <img class='code-img' src="../assets/input.png"/></div>
      </section>
    </main>
  </body>
</html>