<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>rating component</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts</a>
          </li>
          <li>
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button.html">Buttons</a>
          </li>
          <li>
            <a href="/components/card.html">Cards</a>
          </li>
          <li>
            <a href="/components/image.html">Images</a>
          </li>
          <li>
            <a href="/components/input.html">Input</a>
          </li>
          <li>
            <a href="/components/snackbars.html">toast</a>
          </li>
          <li>
            <a href="/components/rating.html">Ratings</a>
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities</a>
          </li>
        </ul>
      </section>
      <section>
        <div class="main-rating">
          <div>
              <h1>Ratings</h1>
              <p>Ratings are used to display reviews.</p>
          </div>
          <div class="rating-component-area">
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              
          </div>
      </div>    
       
      </section>
    </main>
  </body>
</html>