<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>snackbar component</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts</a>
          </li>
          <li>
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button.html">Buttons</a>
          </li>
          <li>
            <a href="/components/card.html">Cards</a>
          </li>
          <li>
            <a href="/components/image.html">Images</a>
          </li>
          <li>
            <a href="/components/input.html">Input</a>
          </li>
          <li>
            <a href="/components/snackbars.html">Snackbars</a>
          </li>
          <li>
            <a href="/components/rating.html">Ratings</a>
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities</a>
          </li>
        </ul>
      </section>
      <div class="toast-heading">
        <h2>Toast</h2>
        <p>Toast display messages related to an interaction happened between user and the website. They usually stay on the screen for 2-3 seconds and then disappear.
            Toast can be used to show success messages, warnings or errors.</p>
    </div>
      <div class="toast">
            <h2>success message</h2>
        </div>
        <hr>
        <div class="main-content">
            <p>Your product has been successfully added to the card.</p>
        </div>
        </div>
      <section>
        
      </section>
    </main>
  </body>
</html>