<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prateek sharma" />
    <meta name="description" content="Vintage UI - A CSS component library." />
    <title>Vintage UI</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <h1><em>Typography component</em></h1>
        </div>
        <ul class="list list-horizontal">
          <li>
            <button class="btn btn-primary">
              <a href="https://github.com/">GitHub</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <section>
    <ul>
          <li>
            <a href="/components/alert.html">Alerts</a>
          </li>
          <li>
            <a href="/components/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="/components/badge.html">Badge</a>
          </li>
          <li>
            <a href="/components/button.html">Buttons</a>
          </li>
          <li>
            <a href="/components/card.html">Cards</a>
          </li>
          <li>
            <a href="/components/image.html">Images</a>
          </li>
          <li>
            <a href="/components/input.html">Input</a>
          </li>
          <li>
            <a href="/components/snackbars.html">toast</a>
          </li>
          <li>
            <a href="/components/rating.html">Ratings</a>
          </li>
          <li>
            <a href="/components/typography.html">Text Utilities</a>
          </li>
        </ul>
      </section>
      <section>
        <div class="main-components">
            <div class="intro">
                <h1>Typography</h1>
                <p>Check out the below text utilities</p>
            </div>
            
            <div class="component-areas">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            </div>
    
            <h4 class="sub-text"> This is paragraph text</h4>
            <div class="component-areas">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices quis sem eu congue. Nullam id risus metus. Proin aliquam et dui ac condimentum. Mauris gravida vulputate orci ut aliquam. Sed sollicitudin feugiat ex, id lobortis libero ullamcorper ut. Suspendisse potenti. Phasellus sed nisi pharetra, sagittis sapien vel, semper nulla
                </p>
            </div>
    
            <h4 class="sub-text">Some more texts</h4>
            <div class="component-areas">
                <p class="text-strike-through">This line of text is meant to be no longer accurance</p>
                <p class="text-bold">Text with bold font weight</p>
                <p class="text-light">Text with light font weight</p>
                <p class="text-grey">grey text can be used for subtitle</p>
                <p class="text-italic">italic text</p>
            </div>
       </div>
       <div> <img class='code-img' src="../assets/typography.png"/></div>
      </section>
    </main>
  </body>
</html>